* {
    font-family: Roboto, sans-serif;
}


.ws {
    max-height: 200px;

}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 5px;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 5rem;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.body {
    flex: 1;

    /*
    flex-grow : 1;    ➜ The div will grow in same proportion as the window-size       
flex-shrink : 1;  ➜ The div will shrink in same proportion as the window-size 
flex-basis : 0;   ➜ The div does not have a starting value as such and will 
                     take up screen as per the screen size available for
                     e.g:- if 3 divs are in the wrapper then each div will take 33%.
    */
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
    align-items: center;
    padding-top: 20px;
}

.top {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.links {
    display: flex;
    gap: 30px;

}

.hero-main {
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
}

.mid-title {
        font-size: 48px;
        font-weight: bold
    
}
.hero-secondary,
.header{
    size: 18px;
    color: #E5E7EB;
}




.left .button {
    width: 10rem;
    border-style: none;
    margin-top: 20px;
}

button,
.call {
    background-color: #3882F6;
    color: white;
    padding: 1em 1em;
    border-radius: 8px;

}

button {
    flex-shrink: 0;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
}

.bot {
    background-color: #E5E7EB;
    color: #1F2937;
    size: 36px;
    font-style: italic;
}

.call-heading {
    font-weight: bold;
    margin-bottom: 5px;
}

.call {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    flex-basis: 75%;

}



.call-bg {
    display: flex;
    background-color: white;
    justify-content: center;
    padding-top: 20px;
}

.call-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 15px;
    justify-content: center;
}

